@tailwind base;
@tailwind components;
@tailwind utilities;




























/* .imgtop{
  background-image: url("/images/homepage/hero-bg-mobile.png")  ;
  
}

.firstcontent{
  text-align: center;
}

.linkheader{
  border : solid;
  border-color: white;
}


.secondcontent{
  text-align: center;
}

.troiscontent{
  text-align: center;
} */